@model ProyectoDos.UI.Models.Factura

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Seguro que desea eliminar esta factura?</h3>
<div>
    <h4>Factura</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdFactura)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdFactura)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fecha)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.precioConIva)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.precioConIva)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.precioSinIva)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.precioSinIva)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Regresar</a>
    </form>
</div>
